<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Metropolis-ExtraBold.otf</string>
		<string>Metropolis-Regular.otf</string>
		<string>Metropolis-Medium.otf</string>
		<string>Metropolis-Light.otf</string>
		<string>Metropolis-Bold.otf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3845549079066540</string>
				<string>com.googleusercontent.apps.745500274882-h70ko7vpamhs5kukp8bl62h608pamg05</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>3845549079066540</string>
	<key>FacebookClientToken</key>
	<string>b7e9e981684775bdd3723f766acf3c89</string>
	<key>FacebookDisplayName</key>
	<string>EazyShop</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
</dict>
</plist>
